.reveal .author {
  display: flex;
  align-items: center;
}

.reveal .author__avatar {
  flex: 1 0;
  margin: 0;
  padding: 0;
  width: 60px;
  height: auto;
  margin-right: 18px;
  border-radius: 50%;
  border: 2px solid $secondary-color;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal .author__meta {
  flex: 1 1;
  text-align: left;

  h4 {
    margin-bottom: 0;
  }
}
