body:not(.print-pdf) .reveal::after {
  content: "";
  display: block;
  position: absolute;
  top: -120px;
  right: -120px;
  width: 240px;
  height: 240px;
  background-color: #417378;
  transform: rotate(45deg);
}


// PDF
.reveal .slides > .pdf-page::after {
  content: "";
  display: block;
  position: absolute;
  top: -120px;
  right: -120px;
  width: 240px;
  height: 240px;
  background-color: #417378;
  transform: rotate(45deg);
}

